@font-face {
    font-family: 'MiSans';
    src: url('./font/MiSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MiSans', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: rgba(255, 255, 255, 0.125);
}

.pricing-link {
    cursor: pointer;
    text-decoration: underline;
}

.pricing-link:hover {
    color: #fff;
}

.features {
    width: 100vw;
    padding: 50px 10px;
    text-align: center;
}

.features *::selection {
    background-color: transparent;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;
}

.feature-item {
    background-color: rgba(0, 0, 0, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 10px;
    width: calc(15% - 10px);
    aspect-ratio: 16/9;
    min-width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
}

.feature-item:hover {
    background-color: rgba(177, 120, 87, 0.1);
    border-color: #ff6a00;
    box-shadow: 0 0 10vh rgba(177, 120, 87, 0.3);
    transform: scale(1.05);
}

.compare-container {
    width: 100vw;
    max-width: 90vw;
    padding: 2vw 1vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
}

.price-container {
    background-color: rgba(0, 0, 0, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease;
}

.price-container:hover {
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.25);
}

.price-name {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    padding: 0 1rem;
    transform: scale(1.5);
}

.price-container h2,
.price-container p,
.price-container h1 {
    color: inherit;
    margin: 0.3vw 0;
}

.price-container h2 {
    font-size: 1.2vw;
}

.price-container p {
    font-size: 0.9vw;
    color: #5c5c5c;
}

.price-container h1 {
    font-size: 1.7vw !important;
    width: 12vw;
}

.free {
    text-decoration: underline;
    color: #eee;
}

.cui {
    color: #ff6600;
}

.guna,
.bunifu,
.siticone,
.telerik {
    border-top-width: 1px;
}

.guna {
    color: #6600ff;
    border-top-color: #6600ff;
}

.bunifu {
    color: #0033cc;
    border-top-color: #0033cc;
}

.siticone {
    color: #00cc66;
    border-top-color: #00cc66;
}

.telerik {
    color: #ccff00;
    border-top-color: #ccff00;
}

.short-text {
    display: none;
}

.hero h1 {
    font-size: calc(2vw + 4.5vh);
}

@media (max-aspect-ratio: 4/3) {
    .full-text {
        display: none;
    }
    .short-text {
        display: inline;
    }

    .price-container {
        width: 75vw;
        max-width: none;
        max-height: none;
        padding-bottom: 25vw;
    }

    .price-container:hover {
        transform: none;
    }

    .price-container h1 {
        width: 100vw;
        font-size: 5vw !important;
    }

    .price-container h2,
    .price-container p {
        font-size: 3vw;
    }

    .pricing-link {
        font-size: 1rem;
    }
}

@media (max-aspect-ratio: 4/3) {
    .features-container {
        flex-direction: column;
    }

    .feature-item {
        width: 80vw;
        height: 10vw;
        aspect-ratio: 0;
        margin: 0 auto 20px;
    }

    .feature-item h3{
        width: 20vw !important;
        margin: 0 !important;
        padding: 0 !important;
        
    }

    .feature-item {
        position: relative;
    }
    
    .feature-item img {
        position: absolute;
        right: 25%;
        top: calc(50% - 12.5%);
        
        margin: 0 !important;
        padding: 0 !important;
    
        /* background-color: #ffffff59 !important; */
        
        width: 7vw !important;
        max-height: 20px;
        height: 20vh !important;

        transform: scale(4) !important;
    }
    
    .tagline{
        visibility: collapse !important;
    }

    .compare-container {
        gap: 1vw !important;
    }
}

@media (max-aspect-ratio: 5/6) {
    .feature-item {
        width: 80vw;
        height: 20vw;
        aspect-ratio: 0;
        margin: 0 auto 20px;
    }

    .price-container {
        transform: scale(1);
        padding-bottom: 26vw;
    }

    .price-container:hover {
        transform: scale(0.8);
    }

    .compare-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        gap: 5vw !important;
        flex-wrap: wrap;
        text-align: center;
        align-items: flex-start;
        transform: scale(0.8);
    }
}

.feature-item img {
    max-width: 100%;
    background-color: transparent;
    padding: calc(15%);
    border-radius: 8px;
    aspect-ratio: 16/9;
    transform: scale(2);
    pointer-events: none;
    margin: -20px;
    opacity: 50%;
}

.hero .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero .btn {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero .btn:hover{
    transform: scale(1.05);
}

.hero .btn-discord {
    background-color: transparent;
    border: 2px solid #5662F6;
    color:#ffffff;
}

.hero .btn-discord:hover {
    background-color:#5662F688;
    box-shadow: 0 0 1rem #ffbb833f;
}

.hero .btn-github {
    background-color: transparent;
    border: 2px solid #FF7A00;
    color:#ffffff;
}

.hero .btn-github:hover {
    background-color:#FF7A0088;
    box-shadow: 0 0 1rem #ffbb833f;
}

.hero .btn-nuget {
    background-color: transparent;
    border: 2px solid #3766ff;
    color:#ffffff;
}

.hero .btn-nuget:hover {
    background-color:#3766ff88;
    box-shadow: 0 0 1rem #3766ff3f;
}

.feature-item h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #e2e2e2;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000000;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), 
                      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 5vh 5vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    animation: moveBackground 2s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 5vh 5vh;
    }
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: transparent;
    user-select: none;
    transform: translateX(32px);
}

.logo::before {
    position: absolute;
    content: "";
    background-size: cover;
    background-image: url("./assets/cuoreui mono.svg");
    aspect-ratio: 1;
    height: 5vh;
    transform: translateY(-0.5vh) translateX(-28px);
}

nav {
    display: flex;
    gap: calc(1vw + 1vh);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0.25;
    flex-direction: column;
    gap: 10px;
}

.footer-text::before {
    content: "";
    position: absolute;
    background-size: cover;
    background-image: url("./assets/no-copyright.svg");
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transform: translateX(-18px) translateY(3px);
}

.footer-text,
.footer-text-downloads {
    justify-self: center;
}

.footer-text-downloads {
    color: #ffb37c;
}

nav a {
    text-decoration: none;
    color: #ffe9df;
    font-size: 16px;

    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    border-radius: calc(1rem + 16px);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav a:hover {
    background-color: #ff6a00;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.hero h1 {
    /* font-size: 72px; */
    margin-bottom: 10px;
    color: #ff6a00;
}

.hero h1 span {
    color: #ffe7e7;
}

.hero p {
    font-size: 18px;
    color: #b3a7a7;
}

.tagline {
    transform: translateX(-2px);
    pointer-events: initial;
}

.tagline:hover {
    color: #fff;
    cursor: pointer;
}

.tagline:after {
    position: absolute;
    content: "";
    aspect-ratio: 1;
    height: 2vh;
    background-size: cover;
    background-image: url("./assets/reload.svg");
}

.downloads-count{
    color: #b3a7a781 !important;
    font-size: 1.5vh !important;
    margin-bottom: 2.5vh;
}

.hero .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Basic styles for the burger menu icon */
.burger-menu {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #ffdfc9;
    cursor: pointer;
}

.burger-menu {
    display: none;
    background-color: transparent;
}

.nav-container
{
    background: transparent;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.nav-links {
    display: flex;
}

/* Burger Menu styles for smaller screens */
@media (max-aspect-ratio: 4/3) {
    .burger-menu {
        background-color: transparent;
        display: block;
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        z-index: 99;
    }

    .nav-links {
        z-index: 66;
        display: none; /* Hide menu by default */
        position: absolute;
        top: 0%;
        left: 50%;
        width: 0vw;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        padding-top: 0;
    }

    .nav-container
    {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        background: #000000ef;
        margin:0;
        padding: 1rem;
        padding-top: calc(50% + 1rem);
        padding-bottom: 100vh;
        backdrop-filter: blur(0.5rem);
    }
    
    .cuore-special-text::before {
        content: '';
        visibility: hidden;
    }
    

    .burger-toggled {
        transform: rotate(90deg);
    }

    nav a {
        font-size: 1rem;
        color: #ffdfc9;
        text-decoration: none;
    }

    nav a:hover {
        color: #fff;
    }

    .nav-links-show {
        display: flex !important;
    }

    .snowflake-overlay
    {
        filter:blur(5px);
    }

    .snowflake
    {
        opacity: 50%;
    }
}

.polish-flag::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 16px;
    border-radius: 4px;
    background-image: url('assets/polish-flag.svg');
    background-size: cover;
    margin-left: 8px;
    vertical-align: middle;
    transform: translateX(-38px) translateY(4px);
}   

.snowflake-overlay {
    visibility: hidden;
    content-visibility: hidden;
    background-position: 100% 100%;
    background-size: 100% 150%;
}
